#modules {
  width:32%;
  margin-top: 3%;
  margin-left:2%;
  float:left;
}

#main_window {

  margin-left: 3%;
  margin-right: 10%;
  width: 50%;
  margin-top: 3%;
  float: right;

}
#starting_navbar {
  width: 10%;
}
.console {
  background-color: black;
  color: #55ff55;
  font-family: monospace;
  text-color: black;
}
#{
  allign: left;
}
#main_window{
  background-color:#2B3E50;
}
button{
   min-width:30%;
}
